.service-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    background:#2727270D ;
    margin-bottom: 128px;
}
.service-item{
    padding: 30px;
    align-items: center;
    text-align: center;
}
.hot-deal-container{
    height: 60vh;
    background-color:#E554731A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hot-deal-info{
    margin-left: 120px;
    align-items: center;
}
.hot-deal-title{
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.btn{
    color: red;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 220px;
}
.hot-deal-description{
    color: black;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: auto;
    text-align: center;
}
.hot-deal-image{
    width: 265px;
    height: 350px;
    margin-right: 200px;
}
.insta-section{
    text-align: center;
    padding: 50px;
}
.insta-section-titile{
    padding-bottom: 5px;
}
.insta-section-image{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 100px;
}
.insta-image{
    height: 250px;
}
.deal{
    background-image: url('Rectangle\ 9.png');
    background-size: cover;
    background-position: center;
    width: 940px;
    height: 350px;
    margin-left: 170px;
    margin-bottom: 128px;
    text-align: center;
}
.deal-area{
    padding-top: 130px;
}
.input-subscribe{
    padding-top: 10px;
}
.input{
    width: 450px;
    height: 30px;
    border-radius: 5px;
}
.subscribe{
    height: 30px;
    color: white;
    background-color: #E55473;
    border-radius: 5px;
}