/* shared style */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* header related style */

.header {
    background-color: rgba(229, 84, 115, 0.10);

}

.banner {
    display: flex;
    padding: 150px 240px 0px 240px;
    align-items: center;
    justify-content: space-between;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0px;
}

.banner-description {
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 0px;
}

.btn-primmary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    margin-top: 35px;
}

.banner-content {
    max-width: 700px;
}

.profile-pic {
    padding: 0px 240px opx 240px;
    width: 635px;
    height: 800px;

}

/* main section */

/* featured section  */
.featured {
    background: #FFF;
    margin: 180px 0px 48px 0px;
    min-width: 600px;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;

}

.section-description {
    width: 50%;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

/*  bonous image section  */
.image-container{
    display: flex;
    padding: 0px 240px 0 240px;
    gap: 24px;
}
.image-bg1{
    width: 300px;
    height: 360px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
}
.image1{
    width: 170px;
    height: 250px;
    margin-top: 110px;
    margin-right: 76px;
    margin-left: 60px;
}
.image-bg2{
    width: 300px;
    height: 360px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.image2{
    width: 170px;
    height: 250px;
    margin-top: 110px;
    margin-right: 76px;
    margin-left: 60px;
}
.image-bg3{
    width: 300px;
    height: 360px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.image3{
    width: 170px;
    height: 250px;
    margin-top: 110px;
    margin-right: 76px;
    margin-left: 60px;
}
.flower-varrient{
    display: flex;
    justify-content: center;
    gap: 162px;}
    .flower-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;}
/* support section */

.support-section{
    display: flex;
    justify-content: center;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin-bottom: 100px;
margin-top: 130px;

}
.support{
    text-align: center;
}

/* sale section  */
.sale{
    display: flex;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-top: 130px;

}
.sale-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.sale-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.btn-second{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    margin-top: 35px;
    justify-items: center;
}
}

/* insta featured section  */

.insta-featured{
    display: flex;
    gap: 24px;
    margin: 0 240px 100px 240px;
}
/* sarch banner section  */
.sarch-banner{
    display: flex;
    border-radius: 8px;
    background-image: url(../Flower\ Asset/Rectangular);
}
.sarch-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.sarch-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.sarch-from{
    border-radius: 8px;
background: #FFF;
}
/* footer section  */
footer{
    background-color:#111010;;
}
.title{
    color: #E55473;
font-size: 48px;
font-weight: 800;
text-align: center;
padding-top: 100px;
}
span{
    color: white;
}
.footer-description{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.copy{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
padding: 10px 0px 100px 0px;
font-size: 16px;
font-weight: 400;
}