/* shared style */

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* header related style */

.header {
    background-color: rgba(229, 84, 115, 0.10);

}

.banner {
    display: flex;
    padding: 150px 240px 0px 240px;
    align-items: center;
    justify-content: space-between;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0px;
}

.banner-description {
    width: 630px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 0px;
}

.btn-primmary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    margin-top: 35px;
}

.banner-content {
    max-width: 700px;
}

.profile-pic {
    padding: 0px 240px opx 240px;
    width: 635px;
    height: 800px;

}

/* main section */

/* featured section  */
.featured {
    background: #FFF;
    margin: 150px 0px 48px 20px;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 50px;
    text-align: center;

}

.section-description {
    max-width: 600px;
    width: 50%;
    margin: auto;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

/*  bonous image section  */
.first-flower-bg1 {
    text-align: center;
    padding: 100px;
}

.our-feature-flower-title {
    padding-bottom: 5px;
}

.flowers-varient {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    margin-bottom: 10px;
    justify-content: center;
    padding-right: 240px;
    padding-left: 240px;
    gap: 24px;
}

.first-flower-background {
    width: 300px;
    height: 360px;
    background-color: #A7216226;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}

.secend-flower-background {
    width: 300px;
    height: 360px;
    background-color: #0597A026;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}

.third-flower-background {
    width: 300px;
    height: 360px;
    background-color: #477D1126;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
}

.flower-image {
    width: 170px;
    height: 250px;
    margin-top: 110px;
    margin-right: 76px;
    margin-left: 60px;
}

.first-flower-image {
    width: 170px;
    height: 250px;
    margin-top: 90px;
    margin-right: 76px;
    margin-left: 60px;
}

.Flowes-varient-name {
    display: flex;
    justify-content: center;
    padding-right: 240px;
    padding-left: 240px;
    gap: 200px;
    padding-bottom: 128px;
}

.flower-name {
    color: #272727;
    text-align: center;
    margin: 5px 170px 10px 50px;
    font-size: 24px;
    font-weight: 600;
    text-decoration-line: underline;
}

/* sale section  */
.sale-container {
    display: flex;
    height: 60vh;
    background-color: #E554731A;
    justify-content: space-between;
    align-items: center;

}

.sale-info {
    margin-left: 250px;
    align-items: center;
}

.sale-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.sale-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
}

.btn-second {
    border-radius: 8px;
    background: #E55473;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 220px;
}

.sale-image {
    margin-right: 200px;
}

/* instagram section  */

.Instagram-section {
    text-align: center;
    padding: 50px;
}

.section-title {
    padding-bottom: 5px;
}

.instagram-section-image {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 100px;
}

.insta-image {
    height: 250px;
}

/* sarch banner section  */
.sarch-banner {
    border-radius: 8px;
    background-image: url('/Flower Asset/Rectangle 9.png');
    background-position: center;
    margin: 0px 250px 128px 250px;
    height: 300px;
    padding-top: 130px;
    justify-self: center;
}

.sarch-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 5px;
}

.sarch-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.sarch-from {
    border-radius: 8px;
    background: #FFF;
}

.input-from {
    padding-top: 10px;
    padding-left: 270px;

}

.input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

.subscribe {
    height: 45px;
    color: white;
    background-color: #E55473;
    border-radius: 5px;
}

/* footer section  */
footer {
    background-color: #111010;
    ;
}

.title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

span {
    color: white;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.copy {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    padding: 10px 0px 100px 0px;
    font-size: 16px;
    font-weight: 400;
}